body{
    background-color: tan;    
}
div{
    width: 150px;
    height: 150px;
    background-color: black;
    margin: auto;
    margin-bottom: 20px;
}
#sqr2{
    opacity: 0.75;
    
}
#sqr3{
    opacity: 0.5;
}
#sqr4{
    opacity: 0.25;
}